* {
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  position:relative;
  padding-bottom: 8rem;
}

footer{
  text-align: center;
  display: table;
  width: 100vw;
  background: url('https://orange.codeberryschool.com/content/images/project-assets/simple-footer.png') repeat center;
  height: 8rem;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wrapper{
  display: table-cell;
  vertical-align: middle;
}

footer small{
  color: hsl(0, 0%, 70%);
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

strong{
  color: hsl(0, 0%, 85%);
  font-weight: 700;
}

.footer-nav a{
  color: hsl(300, 100%, 40%);
  text-decoration: none;
  margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color .15s ease-in-out;
}